.project {
  padding-top: 60px;
  width: 100%;

  @media (max-width: 425px) {
    padding-top: 30px;
    padding-bottom: 50px;
  }

  &_head {
    display: flex;
    justify-content: space-between;

    h2 {
      font-style: normal;
      font-weight: bold;
      font-size: 48px;
      line-height: 46px;
      margin: 0;
    }
  }

  &_slider {
    width: 600px;
  }

  &_link {
    display: flex;
    align-items: center;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 23px;
    transition: .4s ease-in-out;

    &:hover {
      color: #1AB7E2;
    }

    img {
      margin-left: 15px;
    }

    @media (max-width: 1200px) {
      span {
        display: none;
      }
    }
  }

  &_content {
    padding-top: 60px;
    display: flex;

    @media (max-width: 1000px) {
      flex-direction: column;
    }
  }

  &_left {
    width: 65%;
    margin-right: 30px;

    @media (max-width: 1000px) {
      width: 100%;
    }

    img {
      width: 100%;
    }

    &_title {
      font-style: normal;
      font-weight: bold;
      font-size: 32px;
      line-height: 32px;
      margin-bottom: 0;
    }

    &_data {
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 25px;
    }
  }

  &_right {
    width: 30%;
    height: 900px;
    overflow-y: auto;
    padding-right: 15px;
    display: grid;
    grid-template-columns: auto;
    grid-auto-rows: 343px;
    grid-column-gap: 30px;
    grid-row-gap: 30px;

    @media (max-width: 1000px) {
      margin-top: 30px;
      width: 100%;
    }

    &::-webkit-scrollbar {
      width: 5px;
    }
   
    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background-color: #1AB7E2;
    }
  }

  &_flex {
    width: 95%;
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
  }

  &_view {
    display: flex;
    align-items: center;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 25px;
    margin: 0;

    img {
      margin-right: 20px;
    }
  }

  &_socialnetwork {
    display: flex;
    align-items: center;
    img {
      margin-right: 35px;
      &:last-child {
        margin: 0;
      }
    }
  }
  &_anytext {
    width: 95%;

    h6 {
      margin: 0;
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 30px;
      margin-top: 15px;
      margin-top: 35px;
    }

    p {
      margin: 0;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 22px;
      margin: 10px 0 20px;
    }
  }
}