.main_slider {
  padding-bottom: 45px;
  position: relative;

  h1 {
    font-style: normal;
    font-weight: normal;
    font-size: 72px;
    line-height: 69px;

    b {
      font-weight: bold;
    }

    @media (max-width: 425px) {
      font-size: 36px;
      line-height: 34px;
    }
  }

  &_wrapper {
    width: 47%;

    @media (max-width: 1700px) {
      width: 52%;
    }

    @media (max-width: 1600px) {
      width: 56%;
    }

    @media (max-width: 1440px) {
      width: 61%;
    }

    @media (max-width: 1200px) {
      padding-top: 100px;
      width: 67%;
    }

    @media (max-width: 1024px) {
      width: 80%;
    }

    @media (max-width: 1000px) {
      width: 100%;
    }
  }

  &_buttons {
    z-index: 1;
    margin-top: 25px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    width: 28%;
    margin-left: auto;

    @media (max-width: 1000px) {
      width: 35%;
    }

    @media (max-width: 425px) {
      width: 55%;
    }
  }

  &_prev,
  &_next {
    position: relative;
    width: 90px;
    transition: .4s linear;

    &::after {
      content: '';
    }
  }

  &_img {
    position: absolute;
    top: 60px;
    right: 10px;
    object-fit: contain;

    @media (max-width: 1700px) {
      right: -30px;
    }

    @media (max-width: 1600px) {
      width: 56%;
    }

    @media (max-width: 1440px) {
      width: 50%;
    }

    @media (max-width: 1200px) {
      width: 70%;
      right: 0px;
      z-index: -1;
    }

  }

  &_grid {
    display: grid;
    width: 352px;
    grid-template-columns: 352px;
    grid-template-rows: 451px;

    @media (max-width: 1024px) {
      width: 320px;
      grid-template-columns: 320px;
    }

    @media (max-width: 425px) {
      width: 180px;
      grid-template-columns: 180px;
      grid-template-rows: 250px;
    }
  }
}
  
