.main_slider {
  padding-bottom: 45px;
  position: relative;

  h1 {
    font-style: normal;
    font-weight: normal;
    font-size: 72px;
    line-height: 69px;
    b {
      font-weight: bold;
    }
  }

  &_wrapper {
    width: 47%;
  }

  &_buttons {
    z-index: 1;
    margin-top: 25px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    width: 28%;
    margin-left: auto;
  }

  &_prev,
  &_next {
    position: relative;
    width: 90px;
    transition: .4s linear;

    &::after {
      content: '';
    }
  }

  &_img {
    position: absolute;
    top: 60px;
    right: 10px;
    object-fit: contain;
  }

  &_flex {
    display: flex;
    div {
      margin-right: 30px;
    }
  }
}
  
