.header {
  z-index: 5;
  grid-area: header;
  padding-top: 55px;

  @media (max-width: 425px) {
    padding-top: 30px;
  }

  &_content {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #F2F6FB;
    padding-bottom: 25px;

    a {
      font-size: 22px;
      line-height: 23px;
      font-style: normal;
      font-weight: 500;
      transition: .3s ease-in-out;
      margin-right: 3%;

      @media (max-width: 1440px) {
        margin-right: 2%;
      }

      @media (max-width: 425px) {
        font-size: 18px;
        line-height: 17px;
      }

      @media (max-width: 1200px) {
        &:nth-child(2),
        &:nth-child(3),
        &:nth-child(4),
        &:nth-child(5),
        &:nth-child(8) {
          display: none;
        }

        &:nth-child(6) {
          order: 2;
        }
      }

      &:nth-child(1) {
        margin-right: auto;
        @media (max-width: 1440px) {
          order: 0;
          margin-right: 2%;
        }
      }
      &.header_bold {
        font-weight: bold;
        font-size: 22px;
        line-height: 21px;
        img {
          vertical-align: middle;
        }
      }
      &.active {
        color: var(--color-blue);
      }
      &:hover {
        color: var(--color-blue);
      }
      &.registration {
        padding: 17px 48px;
        font-size: 24px;
        margin-right: 0;
        color: #fff;
        background-color: var(--color-blue);
        &:hover {
          background-color: var(--color-yellow);
          color: #33394E;
        }
      }
    }
  }

  &_lang {
    position: relative;
    width: 50px;
    margin-right: 3%;
    span {
      cursor: pointer;
      display: flex;
      align-items: center;
      font-style: normal;
      font-weight: bold;
      font-size: 22px;
      line-height: 21px;
      transition: .4s ease-in-out;
      &:hover {
        color: var(--color-blue);
      }
    }

    @media (max-width: 1200px) {
      margin-left: auto;
      order: 1;
    }
  }

  &_langs {
    background: #fff;
    position: absolute;
    width: 73px;
    padding: 10px 20px;
    bottom: -80px;
    left: -20px;
    list-style-type: none;
    padding: 10px 20px;
    margin: 0;
    box-shadow: 10px 10px 30px 0px rgba(0,0,0,.1);
    transition: .4s ease-in-out;
    li {
      cursor: pointer;
      font-style: normal;
      font-weight: bold;
      font-size: 22px;
      line-height: 21px;
      margin-bottom: 5px;
      transition: .4s ease-in-out;
      &:hover {
        color: var(--color-blue);
      }
      &.active {
        color: var(--color-blue);
      }
    }
  }
}

