.main_project {
  padding-top: 60px;
  width: 100%;

  &_head {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    h2 {
      font-style: normal;
      font-weight: bold;
      font-size: 48px;
      line-height: 46px;
      margin: 0;
    }
  }
  &_sort {
    display: flex;
    margin-left: 77px;
    span {
      cursor: pointer;
      display: inline-block;
      margin-left: 45px;
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 23px;
      color: var(--color-blue);
      transition: .4s ease-in-out;
      &:hover {
        color: var(--color-purple) !important;
      }
    }
  }

  &_slide {
    display: grid;
    width: 480px;
    grid-template-columns: 480px;
    grid-template-rows: 590px;
  }

  &_link {
    display: flex;
    align-items: center;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 23px;
    margin-left: auto;
    transition: .4s ease-in-out;

    &:hover {
      color: #1AB7E2;
    }

    img {
      margin-left: 15px;
    }
  }

  &_buttons {
    z-index: 1;
    margin-top: 25px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    width: 15%;
    margin-left: auto;
    margin-right: 50px;
  }

  &_prev,
  &_next {
    position: relative;
    width: 90px;
    transition: .4s linear;

    &::after {
      content: '';
    }
  }

  &_grid {
    margin-top: 40px;
    margin-left: 105px;
  }
}